.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding-top: 3.2rem;
}

.logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .4rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 4.2rem;
    color: var(--primary);
    transition: all .1s ease-in-out;
}

.logoLink:hover {
    filter: brightness(75%)
}

.logoLink svg {
    width: 6.4rem;
    height: 6.4rem;
}